*{
    margin: 0;
    padding: 0;

}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2edcb;
  }

  nav {
    background-color: black;
    overflow: hidden;
  }

  nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  nav a:hover {
    background-color: #ddd;
    color: black;
  }


#title{
    color:white;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  nav {
    background-color: black;
    overflow: hidden;
  }

  nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  nav a:hover {
    background-color: #ddd;
    color: black;
  }

.box1{
    color: white;
    justify-content:start;
}
.box2{
    justify-content:center;
    text-align: center;
}
.box3{
    margin-left:27.5%;
    justify-content: end;
    font-size:16px;
}
#navi{
    align-items: center;
    display:flex;
    text-decoration: none;
}
.box{
    align-items: center;
    display: flex;
    box-sizing:border-box;
}
#btn{
  background: #1114d4;
  background-image: -webkit-linear-gradient(top, #1114d4, #11999e);
  background-image: -moz-linear-gradient(top, #1114d4, #11999e);
  background-image: -ms-linear-gradient(top, #1114d4, #11999e);
  background-image: -o-linear-gradient(top, #1114d4, #11999e);
  background-image: linear-gradient(to bottom, #1114d4, #11999e);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  text-decoration: none;
}
#btn:hover{
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.top {
  display: inline-block;
  vertical-align: top; /* Adjust the vertical alignment if needed */
  padding: 14px 0;
  display: flex;
  justify-content: space-between;
}
.top a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.top a:hover {
  background-color: #ddd;
  color: black;
}
#section1{
  position:relative;

}
#middle{
  position:relative;
}
.inneroverlay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%) ;
}
#section1{
  position:relative;
  width:100%;
  height:100%;
  filter:brightness(100%);
  background-image:linear-gradient(to left,#9dedc5,#3eb6bd);
}
.textoverlay{
  position:absolute;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.4);
  bottom:0;
  left:0;}
#heading{
  color:rgb(255, 255, 255);
  font-size :48px;
  font-family:madrid;
  font-stretch: extra-condensed;
  font-weight:50px;
  padding:0px 0px 20px 0;
}
#para3_section1{
  color:#f2f2f8;
  font-size :20px;
  font-family:arial;
  font-stretch: extra-condensed;
  }
#myCarousel{
  display: flex;
  align-items: stretch;
}
#services1{
    font-size: 18px;
    flex:1;
    display: flex;
    padding:2.5% 0 2.5% 2.5%;
    align-items: center;
}
#para1{
  padding-right:2.5%;
}
#services{
  position: relative;
  background-color: #f2edcb;

}
#content{
  font-size: 18px;
}
#media{
  position:relative;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    padding:2.5%;
}
.inner{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
.bg{
    background-color: black;
    color:#ffffff;
    margin-top:-2%;
    padding:0;
    border:0;
}
footer{
    padding-top: 0;
}
#pics{
  position:absolute;
}