body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    margin-bottom: 20px;
}

p {
    font-size: 1.5em;
    color: #333;
    margin: 0;
}

#paymentAmount {
    font-weight: bold;
    color: #e44d26; 
    font-size: 1.8em;
}
